.reviewer-page{
	position: relative;
	height: 100vh;
	width: 100vw;
	background-color:  #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.product-details{
		display: flex;
		width: 60%;
		height: 25vh;
		position: relative;
		.review-image{
			height: 100%;
			border-radius: 3px;
		}
		.details{
			margin-left: 2%;
			.title{
				
				@include FancyFont(2.2rem,100);
				color: #3d3d3d;
				margin-bottom: 0.6%;
			}
			.story{
				@include Font(1.1rem,100);
				width: max(50%,10em);
				margin-bottom: 2%;

			}
			.stars{
				position: absolute;
				bottom: 0;
				right: 0;
			}
		}
	}
	.input{
		width: 60%;
		// overflow: hidden;
        margin-top: 1.6%;
        position: relative;
        img{
				height: 1.1em;
				position:absolute ;
				top: 9.2%;
				right: 1.2%;
		}
		input{
			background-color: #f3f3f3;

			width: 98%;
			padding: 1.25em 0em ;
			padding-left: 2%;
			padding-bottom: 8em;
			box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;  
			border-radius: 3px;
			&::placeholder{
				color: grey;
				
				@include Font(0.8rem,100);
			}


		}
	}
	.buttons{
		margin-top: 1.4em;
		width: 60%;
		display: flex;
		justify-content: space-between;
	}
}
.btn-1{
	button{
	padding: 1.8em 4em;
	border-radius: 4px;
	background-color: #19001E ;
	color: white;
	@include Font(0.8rem,100);


   }
}
.image-poster{
	position: relative;
	width: auto;
	height: 4.4em;
    display: flex;
	justify-content: flex-start;
	
	input{
		display: none;
	}
	&:hover{
		cursor: pointer !important;
		}
	.gone{
		display: none;
	}
	.clicker{
		width: 5.4rem;
		height: 5.4rem;
		
		border-style: solid;
		border-color: #19001E ;
		border-radius: 4px;
		border-width: 0.2em;
		display: flex;
		justify-content: center;
		align-items: center;
		.desc{
			margin-left: -2px;
			display: flex;
			position: relative;
		h1{
			@include CursiveFont(0.8rem,400);
		}
		.plus{
			display: flex;
            margin-left: 0.5em;
            position: absolute;
            top:-5px;
            right: -2px;
            bottom: 10px;
			div{
				height: 10px;
				width: 2px;
				background-color: #19001E ;
			}
			.hor{
				margin-left: -2px;
				transform: rotate(90deg);
			}
		}	
		}
	}
		
  		

}
.image-poster{
	
}
.input-image{
	margin-right: 0.6em;
	height: 5.4rem;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-style: solid;
	border-color: #19001E ;
		border-radius: 4px;
		border-width: 0.2em;
	img{
		width: 5.4rem;
	}
}