
.page2{
	height: 66vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	.txts{
		width: 30%;
		height: 56%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 8vw;
		// background-color: black;
		.small{
			@include FancyFont(1.8rem,100);
		}

		.big{
			@include FancyFont(2.5rem,100);
		}
		.pricers{
			.title{
				@include Font(1.8rem,100);
				margin-bottom: 0.2em;
			}
			button{
				background-color: #19001E;
				color: white;
				width: 14rem;
				height: 3rem;
				margin-top: 1.6em;
				border-radius: 3px;
			}
		}
	}
	.images{
      
		padding: 0 0.3vw;
		overflow: hidden;
		width: 35vw;
		height: 50%;
		// background-color: purple;
		display: flex;
		
		align-items: center;
		img{
			width: 32%;
			height: 100%;
			margin: 0 0.3vw;
			border-radius: 2px;
		}
		.inactive-images{
			filter: blur(2px);
		}
		.active-image{
			@keyframes go {
				0%{
					opacity: 1;
				}
				100%{
					opacity: 0;
				}
			}
			animation-name: go;
			animation-duration: 1s;
			animation-timing-function: ease-in-out;
			
		}
	}
	.movers{
		position: absolute;
		width: 96%;
		display: flex;
		justify-content: space-between;
		#left{
			transform: rotate(180deg);
		}
		button{
			opacity: 0.8;
			width: 15em;
			height: 15em;
			border-radius: 100%;
			img{
				width:25%;
			}
		}
	}

}

.ghost{
	animation-name: animation-1;
	animation-duration: 0.7s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
.human{
	animation-name: animation-2;
	animation-duration: 0.7s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;

}
.ghost-text{
	animation-name: animation-3;
	animation-duration: 0.7s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
.human-text{
	animation-name: animation-4;
	animation-duration: 0.7s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;

}