@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
$border-purple: #280042;
$fill-purple: #19001e;
@mixin Font($fontsize,$fontweight){
	font-style: 'Manrope', sans-serif;
	font-weight: $fontweight;
	font-size: $fontsize;
}
@mixin FancyFont($fontsize,$fontweight){
	font-family: 'Bangers', cursive;
	font-weight: $fontweight;
	font-size: $fontsize;
}
*{
	margin: 0;
	padding: 0;


}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
}

input , button{
	outline:none;
	border:none;
	@include Font(0.8rem,100)
	// font-family: 'Manrope', sans-serif;
}
.page1{
	height: 100vh;
	background-color: black;
	background-size:cover;
	overflow: hidden;
	position:relative;
	button , h1{
		font-family: 'Bangers', cursive;

	}
}
.logo-image{
	height: 3em;
	margin: 2em;
}
.sidenavbar{
	display: flex;
	flex-direction: column;
	height: 12em;
	width: 6em;
	justify-content: center;
    margin-top: 3.2em;
	img{
		
		height: 3em;
		width: 3em;
		margin-bottom: 1.6em;
	}
}
.nav-cont{
	display: flex;
	justify-content: space-between;
	align-items:center;
	width: 85vw;
}
.hero-section{
	display: flex;
	z-index: 1;
    .parts{
    	letter-spacing: 0.35em;

    	h1{
    		font-size: 8.5em;
    		color: white;
    		line-height: 1.285;
    		font-weight: 600;
    		line-height: 1.3;
    		span{
    			color: red;
    		}
    	}

    }
}
#part1{
	order: 2;
	display: flex;
	flex-direction: column;
	justify-content:center ;
	width: 40vw;
	margin-right: 12vw;
	margin-left: 7.5vw;
	margin-top: -2.5em;
}
#part2{
	width: 40vw;
	height: 88vh;
    position: relative;
    img{
    	position:absolute;
    	
    	bottom:0;
    	
    	right: 32%;
    }
}
.search-bar{
	display: flex;
	align-items:center;
	opacity: 0.85;
	img{
		height: 2.7em;
	}
	button{
		height:5.1em;
		width: 5.2em;
		outline: none;
		margin-right: 2em;
		border: none;
		background-color: white;
		border-radius: 2px;
		&:hover{
			background-color: white;
		}
	}
	input{
		font-family: 'Manrope', sans-serif;
		height: 5.1em;
		width: 40em;
		outline: none;
		border: none;
		padding-left:2em;
		border-radius: 2px;
	}
}
.textnav{
	display: flex;
	justify-content: space-between;
	font-size: 0.7em;
	h1{
		margin: 2em;
		color: white;
	}
}
.full-nav{
	height: 12vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.nav-image{
	margin-top: 1.1em;
}
.arrow-down-button{
	height: 140px;
	width: 140px;
	border-radius:250px;
	outline: none;
	border:none;
	position:absolute;
	z-index: 2;
	bottom: 60px;
	right: 60px;
	img{
		height:60%;
		transform: rotate(90deg);
	}
}
.page2{
	height: 66vh;
	width: 100vw;
	position: relative;

}
.container{
	height: 50vh;
	width: 100vw;
	// background-color: black;
	position:absolute;
	top: 10vh;
	display: flex;
	overflow: hidden;


}
.text-part{
	height: 100%;
	width: 30vw;
	// background-color: red;
	margin-left: 20vw;
	margin-right: 0;
	margin-top: 6vh;
    
	font-family: 'Bangers', cursive;
	.title{
		font-family: 'Bangers', cursive;
		font-weight: 500;
		font-size: 1.5em;
	}
	.description{
       font-size: 2.4em;
       font-weight: 500;
       margin-bottom: 3.45em;
	}
	.name{
		font-family: 'Manrope', sans-serif;
		font-weight: 100;
		font-size: 1.5em;
		margin-bottom: 0.2em;
	}
	
	.price{


		display: flex;
		flex-direction: row;
		align-items:flex-start;
		font-family: 'Manrope', sans-serif;
		margin-bottom: 1.2em;

		img{
			height: 1.1em;
		}
		
			
		
		h1{
			font-weight: 100;
			line-height: 1;
			margin-left: 0.3em;
			font-size: 1.2em;
		}

	}
	.shop{
		font-family: 'Manrope', sans-serif;
		font-weight: 100;
		font-size: 0.68em;

        padding: 1.4em 4.6em;

        border-radius: 3px;
        background-color: #1c1c1c;
        color: white;


	}

}
.images-part{
	height: 100%;
	width: 40vw;
	margin-top: 8vh;
	margin-left: 10vw;
	display: flex;
	flex-direction: row;
	

	.carouselImages{
		border-radius:2px;
		height: 18em;
		margin: 0 0.8em;
	}
	#second-image{
		filter: blur(4px);
	}
}
.arrow-button{
	height: 140px;
	width: 140px;
	border-radius:250px;
	outline: none;
	border:none;
	z-index: 2;
	position: absolute;
	top: 34%;
	opacity: 0.6;
	img{
		height:60%;
		transform: rotate(90deg);
	}
	
}
#right{
		position:absolute;
		right: 6%;
		img{
			transform: rotate(0deg);
		}

}
#left{
	left: 6%;
	img{
			transform: rotate(180deg);
	}
}
.page3{
	height: 80vh;
	width: 100vw;
	background-color: #19001E;
	display: flex;
	align-items:center;
	justify-content: center;
	.description{
		// background-color: bisque;
		height: 30em;
		width: 35em;
		display: flex;
		flex-direction: column;
		justify-content:center;
		h1{
			font-family: 'Bangers', cursive;
			color: white;
			font-weight: 400;
		}
		.heading{
            font-size: 4em;
            margin-bottom: 3em;
		}
		.discon{
			font-size: 1.4em;
			margin-bottom: 0.2em;
		}
		.subheading{
			margin-bottom: 1em;
		}
		button{
			font-size: 0.65em;
            width: 15em;
            height: 4.5em;
            border-radius:5px;
            color: #19001E ;

		}
	}
	.populars{
		
		height: 30em;
		width: 65em;
		display: flex;
		align-items:center;


		.card{
			background-color: white;
			margin: 2px;
            height: 24em;
            width: 16em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            .card-image{
            	height: 10em;
            	margin-bottom: 1em;
            }
            .price-icon{
            	height: 1.4em;
            }
            .card-title{
              font-family: 'Manrope', sans-serif;
		      font-weight: 100;
		      font-size: 1.2em;   
		      margin-bottom: 0.3em; 
            }
            .card-price{
              font-family: 'Manrope', sans-serif;
		      font-weight: 100;
		      font-size: 1.1em;
		      margin-left: 4px;
            }
            .price{
            	display: flex;
            	align-items:center;

            }

		}
	}
}

// .page4{
// 	height: 100vh;
// 	width: 100vw;
// 	position:relative;
// 	.content{
// 		height: 85vh;
// 		width: 100%;
// 		background-color: black;
// 		position:absolute;
// 		bottom:0;
//         display: flex;
//         flex-direction: column;
//         align-items:center;
// 		.functionality{
// 			height: 4em;
// 			width: 75%;
// 			background-color: blueviolet;
// 			display: flex;
// 			justify-content: space-between;
// 			align-items:center;

// 			.title{
// 				display: flex;
// 				align-items:center;
// 			}
// 		    .category-icon{
// 			  height: 2em;
// 			  margin-right: 10px;
// 		    }
// 		    .buttons{
// 		    	display: flex;
// 		    	button{
// 		    		height: 3.5em;
// 		    		width: 3.6em;
// 		    		margin: 0 4px;
// 		    		background-color: aliceblue;
// 		    		border-radius:3px;
// 		    		display: flex;
// 		    		align-items:center;
// 		    		justify-content: center;
// 		    	}
// 		    	img{
// 		    		height:2em;
// 		    	}
// 		    }
// 		}
// 		.categories{
// 			height: 90%;
// 			width: 75%;
// 			background-color: aliceblue;
// 		}

// 	}

// }
.search-page{
	height: 120vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items:center;
	.nav{
		margin-top: 1.4vw;
		height: 16vh;
		width: 100vw;
		// overflow: hidden;
		display: flex;
		justify-content: space-between;
		
		.logo{
			width: 20em;
			height: 1em;
			img{
				width: 6em;
				margin-left: 2em;
				margin-top: 1.5em;

			}
		}
		.textnav-ash{
			color: #4B4A4A;
			@include FancyFont(0.7em,100);
			width: 20%;
			display: flex;
			justify-content: space-between;
			margin-top: 2.7rem;
			margin-right: 10rem;
		}
		.sidenav{
			height: 12.8em;
			width: 4em;
			display: flex;
			flex-direction: column;
			align-items:center;
			margin-top: 1.4em;
			margin-right: 1.6em;
			.imgs{
				margin-bottom: 1.2em;
			}
			img{
				height: 2.6vw;
			}
			#icon-1{
				img{
				height: 2.8vw;
				margin-bottom: 0.6em;
			}
			}
			#icon-3{
				img{
				margin-left: 3em;
			}
			}
			
			
		}
		

	}

	.content{
		height: 90vh;
		width: 88em;
		// background-color: burlywood;
		display: flex;
		.sidebar{
			height: 90%;
			width: 14em;
			background-color: #f8f8f8;
			box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;			margin-top: 0.8em;
			margin-right: 1.2em;
			display: flex;
			flex-direction: column;
			align-items: center;
			.desc,.filter{
				margin-top: 1em;
				@include Font(1.2em,300);
				width: 68%;
				display: flex;
				align-items:center;
				justify-content: space-between;


				.turnoff{
					height: 0.17em;
					width: 0.8rem;
					background-color: grey;
				}
			}
			.filter{
				margin-top: 2.4em;
			}
			.categories{
				margin-top: 2rem;
				@include FancyFont(1em,100);
				color: grey;
				.category{
					margin-top: 0.5em;
				}

			}
			h1{
				@include Font(1.15em,100);
			}
		}
		.others{
           height: 100%;
           width: 72em;
           // background-color: chartreuse;
           .functions{
           	height: 16%;
           	width: 100%;
           	// background-color: chocolate;
           	.searchbar{
           		height: 4.5em;
           		width: 100%;
           		// background-color: aquamarine;
           		display: flex;
           		align-items:center;
           		img{
           			height: 4em;

           		}
           		input{
           			height: 4.6em;
           			width: 96%;
           			padding-left: 2em;
           			border-radius:4px 0 0 4px;
           			font-size: 0.7em;
           			border:2px solid #650278;

           		}
           		.search-btn{
           			font-size: 0.7em;
           			height: 4.6em;
           			width: 4.6em;
           			display: flex;
           			justify-content: center;
           			align-items:center;
           			
           			background-color: #19001e;
           			border-radius:0 4px 4px 0;
           			outline:2px solid #280042;
           		}
           	}
           }
           .results{
           	height: 87%;
           	width: 100%;
           	// background-color:seashell;
           	display: flex;
           	flex-direction: column;
           
           	
           	.stats{
           		h1{
           		 @include Font(1.1em,200);
           		 margin-bottom: 10px;
           		}
           	}
           	.cards{
           		display: grid;
           		grid-template-rows: repeat(2, 1fr);
           		grid-template-columns:repeat(6, 1fr);
           		justify-content: center;
           		grid-gap:1em 2.42em;
           		// &:nth-child(6n+1){
             //        grid-columns:0/1;
             //        grid-rows:0/1;
           		// }
           		// &:nth-child(6n+2){
             //        grid-columns:1/2;
             //        grid-rows:0/1;
           		// }
           		.card{
           			height: 21rem;
           			width: 10rem;
           			background-color: white;
           			box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
           			.title{
           				@include Font(1em,100);
           				margin-bottom: 0.2em;
           				margin-left: 0.15em;
           				margin-top: 0.1em;
           			}
           			.prod-img{
           				width:10rem;
           			}
           			.price{
           				display: flex;
           				align-items:center;
           				margin-bottom: 0.85em;
           				margin-left: 0.15em;
           				h1{
           					@include Font(1em,100);


           				}
           				
           				img{
           					height: 1rem
           				}
           				
           			}
           			.heart{
           				height: 1rem;
           				margin-right: 0.22em;
           			}
           			.price-num{
           				margin-left: 0.22em;
           			}
           			.stars{
           				margin-left: 0.16em;
           				img{
           					height: 0.7rem;
           				}

           			}
           			.last{
           				display: flex;
           				justify-content: space-between;

           			}
           			.add{
           				@include Font(0.8em,100);
           				margin-left: 0.22em;
           			}
           		}
               
            }
           }
		}
	}

    
}
.func-buts{
	height: 4em;
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: flex-end;
	align-items:center;
	h1{
		font-size: 0.605em;
		font-family: 'Manrope', sans-serif;
		font-weight: lighter;
	}
	.buts{
		height: 3rem;
		width: 8.2rem;
		margin-left:5px ;
        border-radius:4px;
	}
	.secs{
		height: 100%;
		width: 50%;
		display: flex;
		align-items:center;
		justify-content: center;
		
		

	}
	#but1{
		background-color: white;
		border: 2px  $border-purple solid;
		display: flex;
		justify-content: center;
		align-items:center;
		img{
			height: 1.6em;
			margin-left: 0.5em;
			transform: rotate(90deg);
		}
		

	}
	#but2{
		display: flex;
		border: 2px  $border-purple solid;
	}
	#num1{
		background-color: $fill-purple ;
		color: white;
	}
	#num2{
		background-color: white;
	}
}
.bottom-nav-cont{
	width: 36em;
    margin-top: 3vh;
	justify-content: space-between;
	display: flex;
	align-items:center;
	justify-content: center;
	margin-left: 11.5vw;
	img{
		height: 2.3em;
		margin:0 8px;
		
		
	}
	#left{
		transform: rotate(180deg);
	}
}
.cotainer{
	width: 22.35em;
	padding:0 10px;
	height: 2.3em;
	display: flex;
	align-items:center;
  overflow: hidden;
  background-color: #19001e;
  border-radius:4px;
}
.num-nav{
	
	width: 26em;
	
	display: flex;
	
	
	align-items:center;
	button{
		@include Font(100,4.95em);
	}
	

}
.btn-act{
	@include Font(100,0.75em);
	transition: ease-in-out 0.75s;
	background-color: white;
	padding: 0.225em 0.55em;
	margin: 0.4em 0.85em;
	color: #19001e;
  
	border-radius:500em;
	
}
.btn{
	@include Font(100,0.5em);
	transition: ease-in-out 0.75s;
	color: white;
	// margin:0 2em;
	padding: 0.225em 0.55em;
	margin: 0.4em 0.85em;
	border-radius:500em;
	background-color: transparent;
	button{
		@include Font(100,0.5em);
	}
   
}
.post{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	.picture{
		img{
			height: 14em;
			border-radius: 15px 0 0 15px;
		}
	}
	.text{
		margin-left: 1.4em;
		height: 14.2em;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.title{
			@include FancyFont(2.5em,300);
			margin-bottom: 0.4rem;
		}
		.story{
			width: 20em;
			line-height: 1.4;
			@include Font(0.8em,100);
			margin-bottom: 1.5rem;
		}
		.price{
			display: flex;
			align-items: center;
			img{
				height:1.4em;
				margin-right: 0.25em;
			}
			h1{
				@include Font(1.4em,100);

			}
			
		}
		.buttons{
			display: flex;
			.add , .count{
				height: 3.2rem;
				width: 8.6rem;
				border-radius: 25px;
			 @include Font(0.85em,100);
				.button{
					border: none;
				}
			}
			.add{
				&:hover{
					
					color: #27002a;
				}
				background-color: #27002a;
				border: solid 2px transparent;
				color: white;
			}
			.count{
				display: flex;
				justify-content:space-around ;
				align-items: center;
				margin-left: 0.6em;
				border: solid 2px #27002a;
				h1{
					@include Font(0.89em,100);
				}
				img{
					height: 2.4em;
				}
				.right{
					transform: rotate(180deg);
				}
				
				
			}
		}
	}
}
.post-page{
	height: 100vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
}
.review-container{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 4.5em;
	height: 4.5em;
	background-color: #f1f1f1;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
	border-radius: 100%;
	bottom: 1.45em;
	left: 1.45em;

	img{
		height:1.5em
	}
}

	.semi-circle-1-active{
		background-color: #f1f1f1;
		box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
		top: 12%;
		right: -22.5%;
		position: absolute;
		border-radius: 50%;
		transition: 2s cubic-bezier(.69,.17,.29,.87);
		height: 80%;
		width: 40vw;
	}
	.semi-circle-1-inactive{
    background-color: #f1f1f1;
		box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
		top: 12%;
		right: -52.5%;
		position: absolute;
		border-radius: 50%;
		transition: 2s cubic-bezier(.69,.17,.29,.87);
		height: 80%;
		width: 40vw;
	}
	.semi-circle-2-active{
		background-color: #27002a;
		box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
		top: 15.6%;
		right: -22%;
		position: absolute;
		border-radius: 100%;
			transition: 2s cubic-bezier(.69,.17,.29,.87);

		height: 62.5%;
		width: 35vw;
	}
	.semi-circle-2-inactive{
		background-color: #27002a;
		box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
		top: 15.6%;
		right: -42%;
    height: 62.5%;
	  width: 35vw;
		position: absolute;
		border-radius: 100%;
		transition: 2s cubic-bezier(.69,.17,.29,.87);

	}

	.review-title-active{
		color: whitesmoke;
		@include FancyFont(2.5em,300);
		top: 45%;
		right: 2.3%;
		position: absolute;
		z-index: 2;
		opacity: 1;
		transition: 3.5s cubic-bezier(.69,.17,.29,.87);
	}
	.review-title-inactive{
		transition: 2s ;
		opacity: 0;
		color: whitesmoke;
		@include FancyFont(2.5em,300);
			top: 45%;
		right: 2.3%;
		position: absolute;
		z-index: 2;
	}
	.reviewer-open{
		
		transition: 2s cubic-bezier(.69,.17,.29,.87);
		top: 0;
		right: 0;
		height: 100vh;
		width: 20vw;
		background-color: #27002a;
		position: absolute;
		z-index: 3;
	}
	.reviewer-close{
		transition: 1s cubic-bezier(.69,.17,.29,.87);
		top: 0;
		right: -20vw;
		height: 100vh;
		width: 20vw;
		background-color: #27002a;
		position: absolute;
		z-index: 3;
	}

	.logo{
		margin-left: 1.4%;
		img{
			width:5em;
		}
	}
	.textnav-ash{
		width: 35em;

		display: flex;
		justify-content: space-between;
		@include FancyFont(0.6em,300);
		color: #2d2d2d;
		margin-top: 1.1%;
	}
	.textnav-white{
		width: 35em;

		display: flex;
		justify-content: space-between;
		@include FancyFont(0.6em,300);
		color: white;
		margin-top: 1.1%;
	}
	.sidenav{

		  width: 3em;
		  height: 9.4em;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
		.imgs{
			width: 3em;
			height: 2.2em;
		}
		img{
			height: 2.2em;

		}
	}
	.cart-page{
		
		background-color: black;
		height: 100vh;
		width: clamp(20vw,100vw,90em);
	}
	.whole{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	//login
// 	background: rgb(221,214,243);
// background: linear-gradient(90deg, rgba(221,214,243,1) 25%, rgba(250,172,168,1) 100%);
//reg
// background: rgb(250,172,168);
// background: linear-gradient(90deg, rgba(250,172,168,1) 25%, rgba(221,214,243,1) 100%);
.login-reg-cont{
	display: flex;
	height: 100vh;
	width: 200vw;
	background-color: black;
  transition: 1s cubic-bezier(.69,.17,.29,.87);
  transition-delay: 1s;
  button{
	opacity: 1;
  }
  
}
.login-reg-cont-active{
	display: flex;
	height: 100vh;
	width: 200vw;
	background-color: black;
  margin-left: -100vw;	
  transition: 1s cubic-bezier(.69,.17,.29,.87);
    transition-delay: 1s;
  button{
	opacity: 1;
  }
}
.login-background{
	position: relative;
	height: 100vh;
	width: 100vw;
	background: rgb(221,214,243);
  background: linear-gradient(90deg, rgba(221,214,243,1) 25%, rgba(250,172,168,1) 100%);
}
.reg-background{

	position: relative;
	height: 100vh;
	width: 100vw;
  background: rgb(250,172,168);
  background: linear-gradient(90deg, rgba(250,172,168,1) 25%, rgba(221,214,243,1) 100%);
}
#logregpage{
	position: relative;
	.luffy-1{
    position: absolute;
    bottom: -2%;
    left: 4.5%;
    transition: 1.2s cubic-bezier(.69,.17,.29,.87);
      transition-delay: 2.2s;
	}
	.luffy-2{
    position: absolute;
    bottom: -2%;
    right: 4.5%;
    transition: 1.2s cubic-bezier(.69,.17,.29,.87);
    transition-delay: 2.2s;

	}
		.luffy-1-active{
    position: absolute;
    bottom: -72%;
    left: 4.5%;
    transition: 1.2s ease-in-out;
	}
	.luffy-2-active{
    position: absolute;
    bottom: -72%;
    right: 4.5%;
    transition: 1.2s cubic-bezier(.69,.17,.29,.87);
	}
}
.ashnav{
	  position: absolute;
		display: flex;
		justify-content: space-between;
    transition: 1s cubic-bezier(.69,.17,.29,.87);
	  transition-delay:2.45s ;
		margin-top: 1%;
		width: 100%;
		z-index: 2;
	}
.ashnav-active{
	transition: 1.5s cubic-bezier(.69,.17,.29,.87);
	margin-top: -20em;
			display: flex;
		justify-content: space-between;
z-index: 2;
		
		width: 100%;
}
.inputs{
	transition: 1s cubic-bezier(.69,.17,.29,.87);
	transition-delay: 2s;

	h1{
		margin-bottom:1rem ;
	}
	button{
		margin-top: 0.2em;
	}
	@include FancyFont(1.6em,100);
	color: white;
	position: absolute;
	top: 20%;
	right: 10%;
	height: 58vh;
	width: 30rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	input{
	color: white;
	border-radius: 40px;
	border-style: solid;
	border-width: 0.4rem;
	border-color: white;
  background-color: transparent;
	text-align: center;
	&::placeholder{
		color: white;
		@include Font(0.8rem,100);
	}
}

.inp-log{
	padding: 1.45rem 0.6rem;
	margin:0 0.5rem;
}
}
.phone, .email{
	@include Font(0.8rem,100);
	padding: 1.5rem 8.8rem;
	color: white;
}

.adress{
	@include Font(0.8rem,100);
	padding: 1.5rem 4.6rem;
	color: white;
}
.but{
	button{
		padding: 1.6rem 3.8rem;
		border-radius: 40px;
		background-color: white;
		color: rgb(221,214,243);

	}
}
.login-inputs{
		transition: 1s cubic-bezier(.69,.17,.29,.87);
	transition-delay: 2s;
	h1{
		margin-bottom:1rem ;
	}
	button{
		margin-top: 0.2em;
	}
	@include FancyFont(1.6em,100);
	color: white;
	position: absolute;
	top: 30%;
	left: 10%;
	height: 37vh;
	width: 30rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	input{
	color: white;
	border-radius: 40px;
	border-style: solid;
	border-width: 0.4rem;
	border-color: white;
  background-color: transparent;
	text-align: center;
	&::placeholder{
		color: white;
		@include Font(0.8rem,100);
	}
}


.email , .password{
	@include Font(0.8rem,100);
	padding: 1.5rem 8.2rem;
	color: white;
}


.but{
	button{
		padding: 1.6rem 4.4rem;
		border-radius: 40px;
		background-color: white;
		color: rgb(221,214,243);

	}
}
}

.gone{
 opacity: 0;
 transition: 1s cubic-bezier(.69,.17,.29,.87);
}