
#non-stick{
    position: absolute;
    margin-top: 0;
}
.nav-contain{
   
    position: sticky;
    top: 0;
    margin-top: -16em;

	display: flex;
	align-items: flex-start;
    justify-content: space-between;
	height: 16rem;
	width: 100vw;
	overflow: hidden;
    z-index: 2;
	// background-color: blue;
    .rhino-logo{
         height: 40%;
         display: flex;
         margin-left: 1.6vw;
         align-items: center;
         // background-color: black;
         position: relative;
         a{
          position: absolute;
          width: 100%;
          height: 100%;
         }
         .rhino{
         	height:50%;
         	
         }
    }
    .nav-text{
        // position: sticky;
    	display: flex;
    	justify-content: space-around;
    	align-items: center;
    	width: 28%;
    	height: 40%;
    	margin-top: 0.4em;
    	
        
    	@include FancyFont(0.7rem,100)
    }
    .none{
        

        animation-name: goner;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        display: none;


    }
    .searcher{
       
    	display: flex;
    	height: 5.6em;
    	width: 44%;
    	margin-top: 1.2em;
    	margin-left: 6%;
       
         input{
             opacity: 0.85;
            @include Font(0.9rem,100);
         	width: 80%;
            height: fixed;
         	background-color: white;
         	border-radius: 100px;
         	padding-left: 5%;
         	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;  
               order: 1;
         }
         .submit{
             opacity: 0.85;
           width: 5.6em;
           height: 5.6em;
         	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;  
            border-radius: 100px;
            margin-right: 2%;
            background-color: white;
            display: flex;
         		justify-content: center;
         		align-items: center;
         	button{

         		width: 100%;
                height: 100%;
         		border-radius: 100px;
         		height: 5.2em;
         		background-color: white;
         		img{
         			width:35%;

         		}
         	}
         }
    }
    
    .icon-nav{
    	overflow:hidden ;
        width: 4%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 2.5vh;
        .icon-conts{
           height: 33.333%;
           img{
           	height: 56%;
           }
        }
    }
    .lefted{
         animation-name: side-e-bhaya-2;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

}
.ash{
    color: #525252;
}
.white{
    color: white;
}
.appear{
        animation-name: appeared;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
}
.flee{
    animation-name: goner;
        animation-duration: 1s;
        animation-fill-mode: forwards;
}
.lost{
    opacity: 0;

    transition-duration:0.2s ;
    transition-timing-function: ease-in-out;

}
#less{
    display: none;
}
.invisible{
    opacity: 0;
}
